.header
{
    background-color: #272525;
    width: 100%;
}

.header_img
{
    width: 120px;
    margin-right: -12px;
}

.header_inner
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 70px;
    flex-wrap: wrap;
}

.nav
{
    display: flex;
    justify-content: center;
    gap: 100px;
    flex-wrap: wrap;
}

.nav_link
{
    color: rgb(255, 255, 255);
    text-decoration: none;

}
.logout-link{
    text-decoration: none;     
}

@media (max-device-width: 800px) {
    .header_inner {
        flex-direction: column;
        padding: 10px 20px;
    }
    
    .nav {
        gap: 40px;
        margin: 15px 0;
    }
    
    .header_img {
        width: 100px;
        margin-right: 0;
    }
}

@media (max-device-width: 400px) {
    .header_inner {
        flex-direction: column;
        padding: 10px 15px;
    }
    
    .nav {
        flex-direction: column;
        gap: 15px;
        width: 100%;
    }
    .header_inner {
        flex-direction: column;
        padding: 10px 20px;
    }
    
    .nav {
        gap: 40px;
        margin: 15px 0;
    }
    .logout-link {
        flex-direction: column;
        padding: 10px 20px;
    }
    
    .header_img {
        width: 100px;
        margin-right: 0;
    }
}